<ng-container *ngIf="productsLis.length != 0">
  <div class="container mt-3">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Nome Produto</th>
              <th>Imagem Produto</th>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsLis, let i = index">
              <td>{{i+1}}</td>
              <td>{{product.title}}</td>
              <td> <img class="product_img" src="{{product.image}}" alt=""> </td>
              <td style="width: 30%">{{product.description}}</td>
              <td style="width: 12%">{{product.price}}</td>
              <td style="width: 12%"> <button (click)="incrementQuantity(product)" class="btn">+</button> {{product.quantity}} <button (click)="decrementQuantity(product)" class="btn">-</button></td>
              <td style="width: 12%">{{product.total * product.quantity}}</td>
              <td>
                <button (click)="removerProduct(product)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
              <button (click)="removeAllCart()" class="btn btn-danger">Esvaziar</button>
              </td>
              <td >
                <button routerLink="/products" class="btn btn-warning">Comprar Mais</button>
              </td>
              <td>
                <button class="btn btn-success">Confirmar</button>
              </td>
              <td><strong>Total: {{total | number:'1.1-2'}}</strong> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="productsLis.length === 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Meu Carrinho</h5>
    </div>
    <div class="center">
      <img
        class="center_img"
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt=""
      />
      <h4>Seu carrinho está vazio!</h4>
      <h6>Adicione um item agora mesmo</h6>
      <button routerLink="/products" style="font-weight: bold;" class="btn btn-warning">
        Compre agora
      </button>
    </div>
  </div>
</ng-container>
