.navbar-brand{
  color: black;
}

.content-buttons{
  display: flex;
  align-items: center;
  flex-direction: row
}

.search-icon{
  position: absolute;
  z-index: 10;
  right: 52%;
  top: 21px;
  color: blue;

}
