<div class="card-top container-fluid">
  <div class="container ">
    <div class="row">
      <div class="col-md-8 d-flex">
        <div class="item">
          <a (click)="getAllProducts()">
            <img
              src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100"
              alt=""
            />
            <h6>Todos os Produtos</h6>
          </a>
        </div>
        <div class="item">
          <a (click)="getProductsByCategory('electronics')">
            <img
              src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100"
              alt=""
            />
            <h6>Eletrônicos</h6>
          </a>
        </div>
        <div class="item">
          <a (click)="getProductsByCategory(modaMasculina)">
            <img
              src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100"
              alt=""
            />
            <h6>Moda Masculina</h6>
          </a>
        </div>
        <div class="item">
          <a (click)="getProductsByCategory(modaFeminina)">
            <img
              src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100"
              alt=""
            />
            <h6>Moda Feminina</h6>
          </a>
        </div>
        <div class="item">
          <a (click)="getProductsByCategory('jewelery')">
            <img
              style="width: 62px; margin-top: 5px"
              src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50"
              alt=""
            />
            <h6>Jóias</h6>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-4">
          <app-search-products (emmitSearch)="getSearch($event)"></app-search-products>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Cards Products-->
<div class="container mt-3">
  <div class="row">
    <ng-container *ngFor="let product of productsList">
      <div class="card col-md-3">
        <div style="text-align: center;">
          <img class="card-products_img" [src]="product.image" alt="">
        </div>
        <h5 class="card-products_title">{{product.title}}</h5>
        <p class="card-products-description">{{product.description}}</p>
        <p> <strong>Preço:</strong> R${{product.price}}</p>
        <button class="btn btn-primary" (click)="addCart(product)">Adicionar ao Carrinho</button>
      </div>
    </ng-container>
  </div>
</div>
